.App {
  text-align: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


#root{
  height:100%;
}

.note-app
{
  height:100%;
}

h1,h2{
   text-align: center;
   color:rebeccapurple;
   background-color:whitesmoke;
}

input{
   background-color:darkslategray;
   color:white;
   height:10vh;
   width:60%;
   border-radius: 5px;
   margin:5px 40px 10px 40px;
   font-size: 20px;
}

button{
height:30px;
width: 60px;
cursor: pointer;
background-color:#0099cc;
color:white;
border-radius: 5px;
}

#clear{
display: flex;
justify-content: center;
}

#listBut
{
display: flex;
}

.edit
{
   background-color:green;
   justify-content:right;
   margin: 5px;
}
.delete
{
   background-color:red;
   justify-content:right;
   margin: 5px;
}
.clear
{
   justify-content:right;
}

.list{
 background-color:wheat;
 color:navy;
 border-radius:5px;
 margin:5px;
}

